@font-face {
  font-family: raleway;
  src: url(content/font/Raleway-VariableFont_wght.ttf);
}
html {
  box-sizing: border-box;
  background-color: white;
}
h1 {
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(10vw, 60px);
    text-align: center;
    color: black;
    margin: 0;
  }
h2 {
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(5vw, 20px);
    text-align: center;
    color: black;
    margin: 0;
}
p {
    margin: auto;
    max-width: 80%;
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(4vw, 16px);
    font-weight: lighter;
    color: black;
    text-align: center;
  }
a {
  margin: auto;
  max-width: 80%;
  font-family: raleway, Helvetica, sans-serif;
  font-size: min(4vw, 16px);
  font-weight: lighter;
  color: black;
  text-align: center;
  }

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: inherit;
}

.wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 16px;
  margin-bottom: 16px;
}

 .image {
  max-width: 100%;
  height: auto;
  box-sizing: inherit;
  
}

.body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.links {
    margin: 16px;
    width: 90%;
    text-align: center;
}
.links2{
  width: 90%;
  margin: 16px;
  text-align: center;
}
.button {

  padding: 12px;
  margin: 12px;
  border-color: #727272;
  background-color:rgb(255, 243, 210);
  border-width: 1px;
  width: 40vw;
  max-width: 200px;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  
}
.button2 {
  width: 17vw;
  margin: 12px;
}

.button3 {
  text-align: center;
  float: center;
}
.button:hover{
  transform: scale(1.1);
}

@media (min-width: 1000px) {
  .wrap {
    max-width: 50%;
    float: left;
  }
  h1 {
    text-align: left;
    }
  h2 {
    text-align: left;
    padding-left: min(4vw, 16px) ;
  }
  .body {
    width: fit-content;

  }
  .links {
    float: center;
  }
  p m
}
