{% extends 'base.html' %}

{% block title %}Projects - Marc Leerink{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/projects.css">{% endblock %}

{% block body %}
  <nav class="navbar">
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('messages.get_contact')}}>Contact</a>
  </nav>

<section class="projects_container">
{% for project in project_pagination.items %}
    {% if project.priority == 1 %}
    <div class ="project_button project_highlight"> 
        <div class="project_content">
            <a href="/projects/{{ project.slug }}">
            <h2 class="project_title">{{ project.title }}</h2>
            <img class="project_image" src='{{ project.image_url }}' alt="project_photo">
            <p class="text_align_left">{{ project.content }}</p>
            </a>
        </div>
    </div> 
    {% else %}
    <div class ="project_button"> 
        <div class="project_content">
        <a href="/projects/{{ project.slug }}">
            <h2 class="project_title">{{ project.title }}</h2>
            <img class="project_image" src='{{ project.image_url }}' alt="project_photo">
            <p class="text_align_left">{{ project.content }}</p>
        </a>
        </div>
    </div> 
    {% endif %}
{% endfor %}
</section>
<nav class="page_nav">
    {% if project_pagination.has_prev %}
        <a class= "nav_button" href="/projects?page={{ project_pagination.prev_num }}">Previous Page</a>
    {% endif %}

    {% if project_pagination.has_next %}
        <a class= "nav_button" href="/projects?page={{ project_pagination.next_num }}">Next Page</a>
    {% endif %}
    
  </nav>
  <nav class="links">
    <a class= "button2" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
  </nav>
        
  {% endblock %}