{% extends 'base.html' %}

{% block title %}Projects - Marc Leerink{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/projects.css">{% endblock %}

{% block navbar %}
<nav class="navbar" id="navbar">
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('simple_pages.sound_artist')}}>Sound</a>
    {% if current_user.is_authenticated == False %}
    <a class= "nav_button" href={{url_for('messages.get_login')}}>Log In</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a class= "nav_button" href={{url_for('messages.logout')}}>Log Out</a>
    {% endif %}
</nav>
 {% endblock %}
 
{% block body %}

<section class="projects_container">
{% for project in project_pagination.items %}
    {% if project.priority == 1 %}
    <div class ="project_contain project_highlight"> 
        <div class="project_content">
            <h2 class="project_title">{{ project.title }}</h2>
            <a tabindex="0" href="/projects/{{ project.slug }}">
                <img class="project_image" src='{{ project.image_url }}' alt="project_photo">
            </a>
            <p class="text_align_left center">{{ project.content }}</p>
            <div class="project_links">
                <a tabindex="0" class="project_button" onclick=" window.open('{{ project.link }}','_blank')"><i class="fa-solid fa-arrow-up-right-from-square"></i> View project</a>
                <a tabindex="0" class="project_button" onclick=" window.open('{{ project.code_link }}','_blank')"><i class="fa-brands fa-github"></i> View on GitHub</a>
            </div>
        </div>
    </div> 
    {% else %}
    <div class ="project_contain"> 
        <div class="project_content">
            <h2 class="project_title">{{ project.title }}</h2>
            <a tabindex="0" href="/projects/{{ project.slug }}"></a>
                <img class="project_image" src='{{ project.image_url }}' alt="project_photo">
            </a>
            <p class="text_align_left center" class="center">{{ project.content }}</p>
            <div class="project_links">
                <a tabindex="0" class="project_button" onclick=" window.open('{{ project.link }}','_blank')"><i class="fa-solid fa-arrow-up-right-from-square"></i> View project</a>
                <a tabindex="0" class="project_button" onclick=" window.open('{{ project.code_link }}','_blank')"><i class="fa-brands fa-github"></i> View on GitHub</a>
            </div>
        </div>
    </div> 
    {% endif %}
{% endfor %}
</section>
<nav class="page_nav">
    {% if project_pagination.has_prev %}
        <a class= "button2" href="/projects?page={{ project_pagination.prev_num }}">Previous Page</a>
    {% endif %}

    {% if project_pagination.has_next %}
        <a class= "button2" href="/projects?page={{ project_pagination.next_num }}">Next Page</a>
    {% endif %}
    
</nav>
<nav class="links">
    <a class= "button2" id="hide" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
</nav>
        
  {% endblock %}