{% extends 'base.html' %}

{% block title %}{{ projects.title }} {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/projects.css">{% endblock %}

{% block navbar %}
<nav class="navbar" id="navbar">
    <a class= "nav_button" href={{url_for('software_engineer.project')}}>All Projects</a>
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('simple_pages.sound_artist')}}>Sound</a>
    <a class= "nav_button" href={{url_for('messages.get_contact')}}>Contact</a>
    {% if current_user.is_authenticated %}
    <a class= "nav_button" href={{url_for('messages.logout')}}>Log Out</a>
    {% endif %}
</nav>
{% endblock %}

{% block body %}
<section class="projects_container">
    <div class ="project_contain"> 
        <div class="project_content">
            <img class="project_image" src='{{ projects.image_url }}' alt="project_photo">
            <h2 tabindex="0" class="project_title"> {{ projects.title }} </h2>
            <p> {{ projects.content }}</p>
            <a tabindex="0" class="project_button" onclick=" window.open('{{ projects.link }}','_blank')"><i class="fa-solid fa-arrow-up-right-from-square"></i> View project</a>
            <a tabindex="0" class="project_button" onclick=" window.open('{{ projects.code_link }}','_blank')"><i class="fa-brands fa-github"></i> View on GitHub</a>
        </div>
    </div>
</section>
<div class="links">
    <a class= "button2" id="hide" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
    <a class= "button2" href={{url_for('software_engineer.project')}}>All projects</a>
</div>
{% endblock %} 