{% extends 'base.html' %}

{% block title %}Marc Leerink - To Do{% endblock %}

{% block body %}
<section class="header">
    <h1>Marc Leerink</h1>
    <h2>Software Engineer • Sound Artist</h2>
  </section>
  <nav class="navbar">
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('simple_pages.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('simple_pages.sound_artist')}}>Sound Artist</a>
    <a class= "nav_button" href={{url_for('simple_pages.contact')}}>Contact Form</a>
  </nav>
  <div class="main_background"></div>
  <section class="body todo">
    <h2> Pages to do</h2>
    <p>
        {% for slug, todo in todo.items() %}
            <li>
                {% if todo['priority'] == 'High'%}
                    <a class ="red" href="/{{todo['url']}}">{{ todo['page'] }}</a>
                {% else %}
                    <a href="/{{todo['url']}}">{{ todo['page'] }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </p>
    </section>
    <div class="links">
        <a class= "button2" href={{url_for('simple_pages.index')}}>Overview</a>
    </div>
  {% endblock %}