{% extends 'base.html' %}

{% block title %}Marc Leerink - To Do{% endblock %}

{% block body %}
<section class="header">
    <h1>Marc Leerink</h1>
    <h2>Software Engineer • Sound Artist</h2>
  </section>
  <nav class="navbar">
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('simple_pages.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('simple_pages.sound_artist')}}>Sound Artist</a>
    <a class= "nav_button" href={{url_for('messages.get_contact')}}>Contact Form</a>
  </nav>
  <div class="main_background"></div>
  <section class="body todo">
    <h2> Pages to do</h2>
    <p>
        {% for todo in todo_pagination.items %}
            <li>
                {% if todo.priority == 3 %}
                    <a class ="red" href="/to-do/{{ todo.slug }}">{{ todo.page}}</a>
                {% else %}
                    <a href="/to-do/{{ todo.slug }}">{{ todo.page }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </p>
    <nav>
        {% if todo_pagination.prev_numb != None %}
            <a href="/to-do?page={{ todo_pagination.prev_num }}">Previous Page</a>
        {% else %}
            <span>Previous Page</span>
        {% endif %}

        <span> - </span>

        {% if todo_pagination.next_numb != None %}
            <a href="/to-do?page={{ todo_pagination.next_num }}">Next Page</a>
        {% else %}
            <span>Next Page</span>
        {% endif %}
      </nav>
    </section>
    <div class="links">
        <a class= "button2" href={{url_for('simple_pages.index')}}>Overview</a>
    </div>
  {% endblock %}