.main_background {
    background-image: url('/static/images/altjira.jpg'); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.sc-wrapper {
    display:none;
}

.out_links {
    display: flex; 
    flex-wrap:nowrap;
    justify-content: space-between;
    margin-top: 12px;
}
.out_button {
    padding: 16px;
    margin:12px;
    font-size: min(10vw, 24px);
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 243, 210); 
    border-radius: 20px;
    width: max(10vw, 24px);
}
    .out_button:hover, .out_button:active {
        transform: scale(1.1);
        opacity: 1;
        transition: all 700ms ease;
    }
.body {
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    justify-items: space-around;
    margin: 0px;
    padding: 0px;
}
@media (min-width: 700px) {
    .out_links {
        gap:3%;
        justify-content: center;
    }
}
@media (min-width: 900px) {
    .sc-wrapper{
        display:flex;
        flex-flow: column nowrap;
        align-items: space-around;
        justify-items: center;
        background: rgb(255, 243, 210);
        width: 86%;
        padding: 16px;
        margin-top:12px;
        margin-bottom: 0px;
    }

    .body {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .out_links {
        justify-content: center;
    }
    .out_button {
        flex-basis:5%;
        margin-top: 0px;
    }
}   