{% extends 'base.html' %}

{% block title %}Marc Leerink{% endblock %}

{% block body %}
<section class="header"> 
    <h1>Marc Leerink</h1>
    <h2>Software Engineer • Sound Artist</h2>
</section>
<nav class="navbar">
    <a class= "nav_button" href={{ url_for('todo.todo') }}>To Do</a>
    <a class= "nav_button" href={{ url_for('simple_pages.contact') }}>Contact</a>
</nav>

<div class="main_background">
    <div class="backgroundcontainer">
        <figure class='background1'>
            <a class= "button" href={{ url_for('simple_pages.software_engineer') }}><i class="fa-solid fa-code"></i></a>
            <h2 class= "text_button" href={{ url_for('simple_pages.software_engineer') }}>Software Engineer</h2>
            <div class="out_links">
                <a class="out_button" href={{url_for('simple_pages.cv')}}>CV</a>
                <a class="out_button" onclick=" window.open('https://github.com/marcleerink','_blank')"><i class="fa-brands fa-github"></i> </a>
                <a class="out_button" onclick=" window.open('https://www.linkedin.com/in/marc-leerink-82b83b121/','_blank')" ><i class="fa-brands fa-linkedin"></i></a>
            </div>  
        </figure>
        <figure class='background2'>
            <a class= "button" href={{ url_for('simple_pages.sound_artist') }}><i class="fa-solid fa-music"></i></a>
            <h2 class= "text_button" href={{ url_for('simple_pages.sound_artist') }}>Sound Artist • Altjira</h2>
            <div class="links2">
                <a onclick=" window.open('https://www.instagram.com/altjiramara','_blank')" class="out_button"><i class="fab fa-instagram"></i></a>
                <a onclick=" window.open('https://soundcloud.com/altjiramara','_blank')" class="out_button"><i class="fa-brands fa-soundcloud"></i></a>
                <a onclick=" window.open('https://bandcamp.com/maleerink','_blank')" class="out_button"><i class="fa-brands fa-bandcamp"></i></a>
            </div>
        </figure>
    </div>

    <div class="links">
        <a class= "button2" href={{ url_for('simple_pages.contact') }}>Contact</a>
        <a class= "button2" href={{ url_for('todo.todo') }}>To Do</a>
    </div>
</div>
{% endblock %}