{% extends 'base.html' %}

{% block title %}Marc Leerink{% endblock %}

{% block navbar %}
<nav class="navbar" id="navbar">
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('simple_pages.sound_artist')}}>Sound</a>
    {% if current_user.is_authenticated == False %}
    <a class= "nav_button" href={{url_for('messages.get_login')}}>Log In</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a class= "nav_button" href={{url_for('messages.profile')}}>Account</a>
    <a class= "nav_button" href={{url_for('messages.logout')}}>Log Out</a>
    {% endif %}
</nav>
{% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <li class="flash">{{ message }}</li>
                {% endfor %}
              {% endif %}
            {% endwith %}
<section class="main_background">
    <div class="backgroundcontainer">
        <figure class='background1'>
            <a class= "button" href={{ url_for('software_engineer.software_engineer') }}><i class="fa-solid fa-code"></i></a>
            <h2 class= "text_button" href={{ url_for('software_engineer.software_engineer') }}>Software Engineer</h2>
            <div class="out_links">
                <a class="out_button" id="no-shadow" href={{url_for('simple_pages.cv')}}>CV</a>
                <a tabindex="0" class="out_button" id="no-shadow" onclick=" window.open('https://github.com/marcleerink','_blank')"><i class="fa-brands fa-github"></i> </a>
                <a tabindex="0" class="out_button" id="no-shadow" onclick=" window.open('https://www.linkedin.com/in/marc-leerink-82b83b121/','_blank')" ><i class="fa-brands fa-linkedin"></i></a>
            </div>  
        </figure>
        <figure class='background2'>
            <a class= "button" href={{ url_for('simple_pages.sound_artist') }}><i class="fa-solid fa-music"></i></a>
            <h2 class= "text_button" href={{ url_for('simple_pages.sound_artist') }}>Sound</h2>
            <div class="links2">
                <a tabindex="0" onclick=" window.open('https://www.instagram.com/altjiramara','_blank')" class="out_button" id="no-shadow"><i class="fab fa-instagram"></i></a>
                <a tabindex="0" onclick=" window.open('https://soundcloud.com/altjiramara','_blank')" class="out_button" id="no-shadow"><i class="fa-brands fa-soundcloud"></i></a>
                <a tabindex="0" onclick=" window.open('https://bandcamp.com/maleerink','_blank')" class="out_button" id="no-shadow"><i class="fa-brands fa-bandcamp"></i></a>
            </div>
        </figure>
    </div>
</section> 
<section class="links">
    {% if current_user.is_authenticated == False %}
    <a class= "button2" href={{url_for('messages.get_login')}}>Log In</a>
    {% endif %}
    {% if current_user.is_authenticated %}
    <a class= "button2" href={{ url_for('messages.logout') }}>Log Out</a>
    {% endif %}
</section>

{% endblock %}
