{% extends 'base.html' %}

{% block title %}Sound Artist - Marc Leerink{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="../static/css/sound_artist.css">{% endblock %}
{% block body %}
    <section class="header">
      <h1>Altjira</h1>
      <h2>Sound artist</h2>
    </section>
    <nav class="navbar">
        <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
        <a class= "nav_button" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
        <a class= "nav_button" href={{url_for('messages.get_contact')}}>Contact</a>
    </nav>
<div class="main_background">
</div>
    <section class="body">
        <button class="out_button" id="dropdown"><i class="fa-solid fa-caret-down"></i></button>

      <div class ="sc-wrapper" id="sc-wrapper">
      <iframe class="sc-link" width="auto" height="130" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1181092066&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/mirrorzone" title="MIRROR ZONE" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/mirrorzone/eos-radio-001-spekki-webu-invites-altijira-december-2021" title="EOS Radio [001] Spekki Webu Invites Altjira // December 2021" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
      <iframe class="sc-link" width="auto%" height="130" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1081495075&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/rosa-au" title="Rosa" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/rosa-au/rosa-012-leerinc-1" title="Rosa 012 - Leerinc" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
      <iframe class="sc-link" width="auto%" height="130" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/943062985&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/vectortrancer_aasudd" title="Vector Trancer Aa Sudd" target="_blank" style="color: #cccccc; text-decoration: none;"></a> · <a href="https://soundcloud.com/vectortrancer_aasudd/hyperterranean-002-with-leerinc" title="Hyperterranean #002 with Leerinc" target="_blank" style="color: #cccccc; text-decoration: none;"></a></div>
      </div>
    </section>
    <section class="links_wrap">
      <div class="out_links">
        <a class="out_button" onclick=" window.open('https://www.instagram.com/altjiramara','_blank')"><i class="fab fa-instagram"></i></a>
        <a class="out_button" onclick=" window.open('https://soundcloud.com/altjiramara','_blank')"><i class="fa-brands fa-soundcloud"></i></a>
        <a class="out_button" onclick=" window.open('https://bandcamp.com/maleerink','_blank')"><i class="fa-brands fa-bandcamp"></i></a>
      </div>
      <div class="links">
        <a class= "button2" href={{url_for('messages.get_contact')}}>Contact</a>
        <a class= "button2" href={{url_for('simple_pages.index')}}>Overview</a>
      </div>
    </section>
{% endblock %}