.body, .form_wrap {
    display:flex;
    font-family: var(--font-family);
    justify-content: center;
    margin: auto;
    margin-bottom: 0px;
    box-sizing: inherit;
    text-align: center;
}


.form {
    display:flex;
    justify-content: center;
    padding: 16px;
    border-radius: 20px;
    font-size: min(4vw, 20px);
    background-color: var(--secondary-color);
    box-shadow: var(--primary-shadow);
    margin-top:12px;
}
ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 16px;
    font-family: var(--font-family);
}


input,textarea {
    font-family: var(--font-family);
    font-size: min(4vw, 20px);
    width:80vw;
    box-sizing: border-box;
    border: solid 1px var(--primary-color);
    text-align: center;
}

input:focus,textarea:focus {
    border-color: var(--primary-color);
}

textarea {
    font-family: var(--font-family);
    vertical-align: top;
    height: 5em;
    text-align: center;
}
    button:active, button:hover {
        transform: var(--transform);
        opacity: 1;
        transition: var(--transition);
    
    }
.button3 {
    font-weight: var(--normal-font);
    font-family: var(--font-family);
    cursor: pointer;
    color: var(--primary-color);
}

/* Profile Page */
.message_contain {
    display:flex;
    flex-flow:column nowrap;
    width:95vw;
}
.message {
    display: flex;
    flex-flow: column nowrap;
    gap:12px;
    margin:16px;
    padding:16px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: var(--primary-shadow);
}
.profile_link{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}
.profile_button {
    margin-top:16px;
    margin-bottom: 0px;

}

@media screen and (min-width: 600px) {
    .form {
        width:54%;
    }
    ul {
        width:100%;
    }
    input {
        width:50%;
    }
    textarea {
        height: 10em;
        width:100%;
    }
    .message_contain {
        width:70vw;
    }
}
@media screen and (min-width:900px) {
    .profile_button {
        
        width:20%;
    }
    .message_contain {
        width:40vw;
    }
    .links {
        display:flex;
    
    }
    #hide {
        display:none;
    }
    .button2 {
        margin: 0px;
        margin-bottom:16px;
        flex-basis:15%;
    }
}