.body, .form_wrap {
    display:flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 0px;
    box-sizing: inherit;
    text-align: center;
}


.form {
    display:flex;
    justify-content: center;
    padding: 16px;
    border: 1px solid black;
    border-radius: 20px;
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(4vw, 20px);
    background-color: rgb(255, 243, 210);
    }

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li {
    margin-top: 1em;
}


input,textarea {
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(4vw, 20px);
    width:80vw;
    box-sizing: border-box;
    border: 1px solid grey;
    text-align: center;
}

input:focus,textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}
    button:active, button:hover {
        transform: scale(1.1);
        opacity: 1;
        transition: all 500ms ease;
    
    }

    

@media (min-width: 900px) {
    .form {
        width:54%;
    }
    ul {
        width:100%;
    }
    input {
        width:50%;
    }
    textarea {
        height: 10em;
        width:100%;

    }

}
@media (max-width: 900px) {
    .form {
        width:100%;
    }
}
