@font-face {
    font-family: raleway;
    src: url(../font/Raleway-VariableFont_wght.ttf)
}
html, body {
    height: 100%; 
    box-sizing: border-box;
}
h1 {
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(10vw, 60px);
    text-align: center;
    font-weight: bolder;
    color: black;
    margin: 0;
  }
h2 {
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(5vw, 24px);
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
  }

  h3 {
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(5vw, 16px);
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
  }

p {
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(4vw, 16px);
    color: black;
    font-weight: normal;
    text-align: center;
    max-width: 65ch
}
a {
    font-family: raleway, Helvetica, sans-serif;
    font-size: min(4vw, 16px);
    font-weight: normal;
    color: black;
    text-align: center;
    font-style: normal;
    text-decoration: none;
}
li {
    font-family: raleway, Helvetica, sans-serif;
    justify-content: center;
    font-size: min(4vw, 16px);
    font-weight: normal;
    color: black;
    text-align: center;
    font-style: normal;
    text-decoration: none;
    max-width: 65ch
}
button {
    flex-basis: 20%;
    margin-left: 0.5em;
    font-family: raleway, Helvetica, sans-serif;
    font-weight: normal;
    color:black;
    font-size: min(4vw, 20px);
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgb(255, 243, 210);
}
.text_align_left {
    text-align: justify;
    align-self: center;
}
.header {
    display: flex;
    flex-flow: column;
    align-content: center;
    margin:12px;

}
.main_background {
    background-image: url('../images/cvphoto.png'); 
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    margin-top:16px;
    
}
.backgroundcontainer {
    display:flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.background1 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
    .background1:hover {
        background-color: rgb(255, 243, 210);
    }
.background2 {
    display: flex;
    justify-content: center;
    justify-items: space-around;
    align-items: space-around;
    flex-basis:50%;
    margin: 0px;   
    height: 100%;
    overflow: hidden;
}
    .background2:hover {
        background-color: rgb(255, 243, 210);
    }
.button {
    justify-self: center;
    align-self: center;
    font-size: 10em;
    opacity: 0.5;
    background: 1px solid black;
    cursor: pointer;

}
    .button:hover, .button:active {
        transform: scale(1.1);
        opacity: 1;
        transition: all 700ms ease;
} 

.links {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 12px;
}

.button2, .out_button, .nav_button {
    padding: 16px;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 1.5em; 
    font-weight: normal;
    color: black;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 243, 210); 
    border-radius: 20px;
    width: max(100vw, 24px);
    opacity: 0.8;
    cursor: pointer;
}
    .button2:hover, .button2:active {
        transform: scale(1.1);
        opacity: 1;
        transition: all 500ms ease;
}
.button3 {
    display:flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    cursor: pointer;
}

.text_button, .links2, .out_links{
    display: none;
}
.navbar {
    display: none;
}
.red {
    color: red;
}
.body {
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    margin:16px;
    padding:16px;
}
.page_nav {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 12px;
    margin-bottom:0px;
}

@media (min-width: 700px) {
    .button2 {
        width: max(50vw, 24px);
    }
}
@media (min-width: 900px) {
    .header {
        margin:0px;
    }
    .main_background {
        margin-top: 0px;
    }
    .backgroundcontainer {
        flex-direction: row;
    }
    .text_button, .links2, .out_links {
        display: none;
    }
    .background1:hover .text_button {
        display: flex;
        flex-flow: column nowrap;
        align-self: center;
        transition: all 500ms ease;
    }
    .background1:hover .button {
        transform: translateY(-0.3em);
        transition: all 700ms ease;
        
    }

    .background1:hover .out_links{
        display: flex;
        flex-flow: row, nowrap;
        justify-content: center;
        width: 100%;
    }
    .background2, .background1{
        align-items: center;
        flex-flow: column nowrap;
        align-content: center;

    }
    .background2:hover .text_button {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .background2:hover .links2 {
        display: flex;
        flex-flow: row, nowrap;
        justify-content: center;
        width: 100%;
    }
    
    .background2:hover .button {
        transform: translateY(-0.3em);
        transition: all 700ms ease;
        
    }
    .navbar {
        display:flex;
        width:100%;
        justify-content: center;
        gap:10%;
        margin:0;
    }

    .nav_button {
        flex-basis: 20%;
    }
        .nav_button:hover {
            transform: scale(1.1);
            transition: all 500ms ease;
        }

    .links {
        display:none;
    }
    .button2, .out_button {
        justify-self: center;
        align-self: center;
        flex-basis: 33%;
        margin-top: 10vh;
    }
        .button2:hover, .out_button:hover {
            transform: scale(1.5);
            transition: all 500ms ease;
        }
    
}

