@font-face {
    font-family: raleway;
    src: url(../font/Raleway-VariableFont_wght.ttf)
}
/* Variables */

:root {
  --font-family: "Raleway", helvetica, sans-serif;
  --normal-font: 400;
  --bold-font: 500;
  --bolder-font: 700;
  --bg-color: rgb(252, 255, 249);
  --primary-color: #282828;
  --secondary-color: rgb(252, 254, 222);
  --primary-shadow: rgba(93, 93, 50, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --secondary-shadow: rgba(92, 93, 50, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --third-shadow:rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --hover-color:black;
  --bottom-margin: 16px;
  --bottom-margin-2: 12px;
  --transition: all 500ms ease-out;
  --transform: scale(1.05)
}
/* rgb(255, 243, 212); */

/* Variables end */

html {
    scroll-behavior: smooth;
    
  }
  
/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
ul {
    list-style-type: none;
}
  
a {
    text-decoration: none;
    color: var(--primary-color);
}
body {
    font-family: var(--font-family);
}


h2 {
    font-size: min(5vw, 24px);
    text-align: center;
    color: var(--primary-color);
    font-weight: var(--bold-font);
    margin: 0;
    padding: 0;
}

h3 {
    font-size: min(5vw, 16px);
    text-align: center;
    color: var(--primary-color);
    font-weight: var(--bold-font);
    margin: 0;
    padding: 0;
}

p {
    font-size: min(4vw, 16px);
    color: var(--primary-color);
    font-weight: var(--normal-font);
    text-align: center;
    max-width: 65ch
}
a {
    font-size: min(4vw, 16px);
    font-weight: var(--normal-font);
    color: black;
    text-align: center;
    font-style: normal;
    text-decoration: none;
}
li {
    justify-content: center;
    list-style: none;
    font-size: min(4vw, 16px);
    font-weight: var(--normal-font);
    color: var(--primary-color);
    text-align: center;
    font-style: normal;
    text-decoration: none;
}
button {
    flex-basis: 20%;
    margin-left: 0.5em;
    font-weight: var(--normal-font);
    color: var(--primary-color);
    font-size: min(4vw, 20px);
    border-radius: 20px;
    background-color: var(--secondary-color);
    border: none;
    
    
}
.center {
    justify-self: center;
    align-self: center;
}
.text_align_left {
    text-align: justify;
    align-self: center;
    justify-self: center;
}
.margin {
    margin-bottom: var(--bottom-margin);
}
.margin2 {
    margin-bottom:var(--bottom-margin-2);
}
.flash {
    font-size: min(4vw, 16px);
    margin:12px;
    color: var(--primary-color);
}

/* Header */
.head_nav_cont {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    flex-flow:row wrap;
    justify-content: space-between;
    padding: 12px;
    padding-top:0px;
    background-color: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
    
.header {
    display: flex;
    flex-flow: column nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    margin:0;

}
.header1 {
    text-align: left;
    font-family: raleway, Helvetica, sans-serif;
    font-size: 8vw;
    font-weight: var(--bold-font);
    color: var(--primary-color);
    margin: 0;
    padding:0;
}
.header2 {
    text-align: justify;
    font-family: raleway, Helvetica, sans-serif;
    font-size: 3.83vw;
    font-weight: var(--bold-font);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    
}

/* Navbar */
.navbar {
    display:none;
    flex-direction:column;
    justify-content: flex-end;
    align-content:flex-end;
    align-items:flex-end;
    flex-basis:100%;
    margin:12px;
}
.navbar.active {
    display:flex;
    transform: var(--transform);
    transition: var(--transition);
}
.nav_button {
        display:inline-flex;
        justify-self: center;
        justify-content:center;
        font-weight: var(--normal-font);
        border-radius: 20px;
        color: var(--primary-color);
        margin:12px;

    }
        .nav_button:hover {
            transform: var(--transform);
            transition: var(--transition);
            color: var(--hover-color);
        }


.hamburger {
    display:inline-flex;
    justify-content:flex-end;
    align-items:center;
    background-color: transparent;
    border: 0;
    margin:12px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 8vw;
    width:fit-content;
}
    .hamburger:focus {
        outline:none;
    }

/* Background Images*/
.main_background {
    background-image: url('../images/cvphoto.png'); 
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height:80vh;
    
}
.backgroundcontainer {
    display:flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.background1 {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}
    .background1:hover, .background1:active {
        background-color: var(--secondary-color);
        
    }
.background2 {
    display: flex;
    justify-content: center;
    justify-items: space-around;
    align-items: space-around;
    flex-basis:50%;
    margin: 0px;   
    height: 100%;
    overflow: hidden;
}
    .background2:hover, .background2:active {
        background-color: var(--secondary-color);
        
    }
.button {
    justify-self: center;
    align-self: center;
    color: var(--primary-color);
    font-size: 10em;
    opacity: 0.5;
    background: 1px solid var(--primary-color);
    cursor: pointer;

}
    .button:hover, .button:active {
        transform: var(--transform);
        opacity: 1;
        transition: var(--transition);
        color: var(--hover-color);
} 
#no-shadow {
    background-color: none;
    box-shadow: none;
}
/* Links */
.links {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 12px;
}

.button2, .out_button{
    padding: 16px;
    margin:12px;
    font-size: 1.5em; 
    font-weight: var(--normal-font);
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    background-color: var(--secondary-color); 
    border-radius: 20px;
    width: max(50vw, 24px);
    
    cursor: pointer;
    box-shadow:var(--secondary-shadow);
}
    .button2:hover, .button2:active, .out_button:hover, .out_button:active, .footer_link:hover, .footer_link:active {
        transform: var(--transform);
        opacity: 1;
        transition: var(--transition);
        color: var(--hover-color);
}
.text_button, .links2, .out_links{
    display: none;
}
.body {
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    padding:16px;
    
}

/* Footer */
.footer {
    display:flex;
    justify-content:center;
    bottom:0;
    right:0;
    padding-top:0px;
    
    
}
.footer_link {
    padding: 16px;
    margin-bottom:16px;
    font-weight: var(--normal-font);
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    background-color: var(--secondary-color); 
    border-radius: 20px;
    cursor: pointer;
    box-shadow:var(--secondary-shadow);
    flex-basis:25%;
}

@media screen and (min-width: 600px) {
    .header1 {
        font-size: 48.83px;
    }
    .header2 {
        font-size: 23.52px;
    }
    .hamburger {
        font-size: 6vw;
    }
}
@media screen and (min-width: 900px) {
    .head_nav_cont {
        flex-flow:row nowrap;
    }
    .header {
        margin:0px;
        flex-basis:40%;
    }
    .hamburger {
        display:none;
    }
    .navbar {
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content:flex-end;
        align-items:center;
        flex-basis:70%;
        gap:2%;


    }
    .main_background {
        margin-top: 0px;
        height:90vh;
        
    }
    .backgroundcontainer {
        flex-direction: row;
    }
    .text_button, .links2, .out_links {
        display: none;
        color: var(--primary-color);
    }
    .background1:hover .text_button {
        display: flex;
        flex-flow: column nowrap;
        align-self: center;
        transition: var(--transition);
        
    }
    .background1:hover .button {
        transform: translateY(-0.3em);
        transition: var(--transition);
        
    }

    .background1:hover .out_links {
        display: flex;
        flex-flow: row, nowrap;
        justify-content: center;
        width: 100%;
    }
    .background2, .background1{
        align-items: center;
        flex-flow: column nowrap;
        align-content: center;

    }
    .background2:hover .text_button {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    .background2:hover .links2 {
        display: flex;
        flex-flow: row, nowrap;
        justify-content: center;
        width: 100%;
    }
    
    .background2:hover .button {
        transform: translateY(-0.3em);
        transition: var(--transition);
        
    }
    .links {
        display:none;
    }
    .button2, .out_button {
        justify-self: center;
        align-self: center;
        flex-basis: 33%;
        margin-top: 10vh;
    }
        .button2:hover, .out_button:hover {
            transform: var(--transform);
            transition: var(--transition);
        }
    .footer {
        position:fixed;
        justify-content:flex-end;
        box-shadow: none;
    }
    .footer_link {
        margin-right:16px;
    }
    
}

