.projects_container{
    display:flex;
    justify-content: space-around;
    justify-items: center;
    flex-flow: row wrap;
    align-items: center;
    background: rgb(255, 243, 210);
    padding: 16px;
    

}
.project_contain {
    flex-basis:100%;
    justify-self: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    padding:12px;
    overflow:hidden;
}

.project_title {
    margin:16px;
}
.project_content {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
   
   
}   

.project_image {
    align-self: center;
    justify-self: center;
    width:50%;
}
    .project_image:hover {
        transform: scale(1.02);
        transition: all 700ms ease;
        cursor:pointer;
    }
.project_button {
    cursor:pointer;
    margin:6px;
    font-size: min(4vw, 16px);
    color: black;
    font-weight: normal;
    text-align: center;
}

@media (min-width: 700px) {
    .project_contain {
        flex-basis: 45%
    }
@media (min-width: 1100px) {
    .project_button {
        flex-basis: 30%;

    }
    .project_highlight {
        flex-basis: 100%;
        flex-grow: 1.5;
    }  
}