
.main_background {
    background-image: url('../images/cvphoto.png');
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main_background2 {
    background-image: url('../images/html.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 100%;
    opacity: 0.1    ;
    
}
.projects_container{
    display:none;
}
.project_button {
    cursor:pointer;
    margin:6px;
    font-size: min(4vw, 16px);
    color: black;
    font-weight: normal;
    text-align: center;
}

.project_contain{
    display:none;
}
.project_title {
    margin:16px;
}
.out_links {
    display: flex; 
    flex-wrap:nowrap;
    justify-content: space-between;

}

.out_button {
    padding: 16px;
    margin:12px;
    margin-top:0px;
    justify-content: space-between;
    gap:20%;
    font-size: min(10vw, 24px);
    border-radius: 20px;
    width: max(10vw, 24px);
}
    .out_button:hover, .out_button:active .projects_container {
        transform: scale(1.05);
        opacity: 1;
        transition: all 700ms ease;
    }
.body {
    display:flex;
    flex-flow: column wrap;
    align-content: center;
    margin: 0px;

}
.links_wrap {
    margin:12px;
}

@media (min-width: 700px) {
    .out_links {
        justify-content: center;
        gap:3%;
    }
}
@media (min-width: 900px) {
    .se_logo {
        width: 30%;
    }
    .out_button {
        flex-basis:5%;
    }
    .projects_container{
        display:flex;
        justify-content: space-around;
        justify-items: center;
        flex-flow: row nowrap;
        align-items: center;
        background: rgb(255, 243, 210);
        padding: 16px;
        margin-top: 16px;


    }
    .project_contain {
        display:flex;
        justify-content: center;
        flex-basis:33%;
        justify-self: center;
        margin: 0px;
    }
        .project_contain:hover {
            transform: scale(1.02);
            transition: all 700ms ease;
        }
      
    .project_content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        
    }   
    .project_link {
        font-size: min(5vw, 20px);
        font-weight: normal;
        color: black;
        justify-self: top;
        text-align: center;
        text-decoration: none;
        margin:0px;
    }
        .project_link:hover {
            transform: scale(1.05);
            transition: all 700ms ease;
        }
    .project_image {
        width:50%;
    }
}