
.main_background {
    background-image: url('../images/cvphoto.png');
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.main_background2 {
    background-image: url('../images/html.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain; 
    height: 100%;
    opacity: 0.1    ;
}
    .main_background2:hover, .main_background2:active {
        opacity: 0.0;
        transform: var(--transform);
        transition: var(--transition);
    }
.projects_container{
    display:none;
}
.project_button {
    cursor:pointer;
    margin:6px;
    font-size: min(4vw, 16px);
    color: var(--primary-color);
    font-weight: var(--normal-font);
    text-align: center;
}

.project_contain{
    display:none;
}
.project_title {
    margin-bottom:16px;
}

.out_links {
    display: flex; 

}
    
.projects {
    display:none;
}
@media (min-width: 700px) {
    .out_links {
        gap:3%;
        justify-content: center;
    }
}
@media (min-width: 900px) {
    .se_logo {
        width: 30%;
    }
    .out_button {
        flex-basis:10%;
        margin-top: 0px;
    }
    .projects_container{
        display:flex;
        justify-content: space-around;
        justify-items: center;
        flex-flow: row nowrap;
        align-items: stretch;
        width:100%;
        padding-left:30px;
        padding-right:30px;
        margin-bottom:16px;
    


    }
    .project_contain {
        display:flex;
        justify-content: center;
        flex-basis:40%;
        justify-self: center;
        align-items: space-between;
        align-content:space-between;
        height:inherit;
        margin: 0px;
        padding:16px;
        border-radius: 20px;
        background-color: var(--secondary-color);
        box-shadow: var(--third-shadow);
        
    }
        .project_contain:hover {
            transform: scale(1.02);
            transition: all 700ms ease;
        }
    .project_content {
        display: flex;
        flex-flow: column nowrap;
        align-items: space-around;
        justify-items: space-around;
        justify-content:space-between;
        
    }   
    .project_links {
        display: flex;
        justify-content: space-around;
    }
    .project_button{

        font-weight: var(--normal-font);
        color: var(--primary-color);
        justify-self: top;
        text-align: center;
        text-decoration: none;
        margin-top:16px;
    }
        .project_button:hover {
            transform: var(--transform);
            transition: var(--transition);
        }
    .project_image {
        height:150px;
        max-width:100%;
        object-fit: contain;
        border-radius: 10px;
        margin-bottom: 12px;
        

    }
    .projects {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items:center;
    }
    #projects {
        flex-basis:10%;

        margin-top:0px;
        margin-bottom:16px;
    }
}