.main_background {
    background-image: url('/static/images/altjira.jpg'); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.sc-wrapper {
    display:none;
    flex-flow: column nowrap;
    align-items: space-around;
    justify-items: center;
    background: rgb(255, 243, 210);
    width: 95.5%;
    padding: 16px;
    margin-top:12px;
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow:var(--third-shadow); 
}
.sc-wrapper.active {
    display:flex;
}

.out_links{
    display: flex; 
    flex-wrap:nowrap;
    justify-content: center;
    margin-top: 12px;
}
   
.body {
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: space-between;
    justify-items: center;
    margin: 0px;
    padding: 0px;
}
#dropdown {
    align-content: center;
    border: none;
    margin-top: 16px;
    margin-bottom: 0px;
    width: 30%;
}
@media (min-width: 700px) {
    .out_links {
        gap:3%;
        justify-content: center;
    }
}
@media (min-width: 900px) {
    .sc-wrapper{
        display:flex;
        flex-flow: column nowrap;
        align-items: space-around;
        justify-items: center;
        background: rgb(255, 243, 210);
        width: 86%;
        padding: 16px;
        margin-top:12px;
        margin-bottom: 0px;
    }

    .body {
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .out_links {
        justify-content: center;
    }
    .out_button {
        flex-basis:10%;
        margin-top: 0px;
    }
    #dropdown {
        display:none;
    }
}   