<!DOCTYPE html>
<html>
  <head>
    
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Porfolio Marc Leerink">
        <meta name="keywords" content="Software Engineer, Coding, HTML, CSS, Python, Sound Artist, DJ, Music Producer ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {% endblock %}    
  </head>
  
  <body>
    {% block body %}{% endblock %}
  </body>
</html>