{% extends 'base.html' %}

{% block title %}Marc Leerink - To Do{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="../static/css/projects.css">{% endblock %}
{% block body %}
<section class="header">
    <h1>Marc Leerink</h1>
    <h2>Software Engineer</h2>
  </section>
  <nav class="navbar">
    <a class= "nav_button" href={{url_for('index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('sound_artist')}}>Contact</a>
  </nav>

  <section class="projects_container">
    <div class ="project_button project_highlight"> 
        <div class="project_content">
            <h2>Project 1</h2>
            <img class="project_image" src="../static/images/html.png" alt="project_photo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque magna quis urna ultrices sodales. Donec rutrum nisl ac venenatis tempus. Donec molestie bibendum mauris, id luctus lacus consequat sit amet. Morbi facilisis luctus sem, et luctus est consectetur egestas. Nulla sed porttitor leo. Duis blandit odio vel arcu vehicula rutrum. Proin vitae leo a dui venenatis volutpat non at velit. Sed pulvinar elit eget dapibus dictum.
            </p>
        </div>
    </div> 
    </div> 
    <div class ="project_button"> 
        <div class="project_content">
            <h2>Project 2</h2>
            <img class="project_image" src="../static/images/html.png" alt="project_photo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque magna quis urna ultrices sodales. Donec rutrum nisl ac venenatis tempus. Donec molestie bibendum mauris, id luctus lacus consequat sit amet. Morbi facilisis luctus sem, et luctus est consectetur egestas. Nulla sed porttitor leo. Duis blandit odio vel arcu vehicula rutrum. Proin vitae leo a dui venenatis volutpat non at velit. Sed pulvinar elit eget dapibus dictum.
            </p>
        </div>
    </div> 
    <div class ="project_button"> 
        <div class="project_content">
            <h2>Project 3</h2>
            <img class="project_image" src="../static/images/html.png" alt="project_photo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque magna quis urna ultrices sodales. Donec rutrum nisl ac venenatis tempus. Donec molestie bibendum mauris, id luctus lacus consequat sit amet. Morbi facilisis luctus sem, et luctus est consectetur egestas. Nulla sed porttitor leo. Duis blandit odio vel arcu vehicula rutrum. Proin vitae leo a dui venenatis volutpat non at velit. Sed pulvinar elit eget dapibus dictum.
            </p>
        </div>
    </div> 
    <div class ="project_button"> 
        <div class="project_content">
            <h2>Project 4</h2>
            <img class="project_image" src="../static/images/html.png" alt="project_photo">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque magna quis urna ultrices sodales. Donec rutrum nisl ac venenatis tempus. Donec molestie bibendum mauris, id luctus lacus consequat sit amet. Morbi facilisis luctus sem, et luctus est consectetur egestas. Nulla sed porttitor leo. Duis blandit odio vel arcu vehicula rutrum. Proin vitae leo a dui venenatis volutpat non at velit. Sed pulvinar elit eget dapibus dictum.
            </p>
        </div>
    </div> 
</section>
    <div class="links">
        <a class= "button2" href={{url_for('index')}}>Overview</a>
    </div>
  {% endblock %}