{% extends 'base.html' %}

{% block title %}Marc Leerink - Software Engineer{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/software_engineer.css">{% endblock %}
{% block body %}
<section class="header">
    <h1>Marc Leerink</h1>
    <h2>Software Engineer</h2>
</section>
<nav class="navbar">
    <a class= "nav_button" href={{url_for('index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('sound_artist')}}>Sound Artist</a>
    <a class= "nav_button" href={{url_for('contact')}}>Contact</a>
</nav>
<div class="main_background">
<div class="main_background2">
</div>
</div>
    <section class="body">
        <p> Software engineering student at CODE University. 
            <br>Currently looking for a working student position to complement my learning journey. 
            <br> <br> Learning objectives in the direction of Front-End Development, Web Development, Responsive Design and Practical Algorithms. 
        </p>
        <h2><br>Skills</h2>
        <p>.html
        <br>.css
        <br>.py
        </p>
    </section>
        <div class="projects_container">
            <div class ="project_button"> 
                <div class="project_content">
                    <h2>Project 1</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque magna quis urna ultrices sodales. Donec rutrum nisl ac venenatis tempus. Donec molestie bibendum mauris, id luctus lacus consequat sit amet. Morbi facilisis luctus sem, et luctus est consectetur egestas. Nulla sed porttitor leo. Duis blandit odio vel arcu vehicula rutrum. Proin vitae leo a dui venenatis volutpat non at velit. Sed pulvinar elit eget dapibus dictum.
                    </p>
                </div>
            </div> 
            <div class ="project_button"> 
                <div class="project_content">
                    <a class="project_link" href="#">More >>></a>
                </div>
            </div> 
            <div class ="project_button"> 
                <div class="project_content">
                    <h2>Project 2</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque magna quis urna ultrices sodales. Donec rutrum nisl ac venenatis tempus. Donec molestie bibendum mauris, id luctus lacus consequat sit amet. Morbi facilisis luctus sem, et luctus est consectetur egestas. Nulla sed porttitor leo. Duis blandit odio vel arcu vehicula rutrum. Proin vitae leo a dui venenatis volutpat non at velit. Sed pulvinar elit eget dapibus dictum.
                    </p>
                </div>
            </div> 
        </div>
    <section class="links_wrap">
        <div class="out_links">
            <a class="out_button" href={{url_for('cv')}}>CV</a>
            <a class="out_button" onclick=" window.open('https://github.com/marcleerink','_blank')"><i class="fa-brands fa-github"></i> </a>
            <a class="out_button" onclick=" window.open('https://www.linkedin.com/in/marc-leerink-82b83b121/','_blank')" ><i class="fa-brands fa-linkedin"></i></a>
        </div>  
        <div class="links">
            <a class= "button2" href="#"> Projects</a>
            <a class= "button2" href={{url_for('index')}}>Overview</a>
        </div>
    </section>

    
{% endblock %}