{% extends 'base.html' %}

{% block title %}Marc Leerink - Software Engineer{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/software_engineer.css">{% endblock %}
{% block body %}
    <section class="header">
      <h1>Marc Leerink</h1>
      <h2>Software Engineer</h2>
    </section>
    <nav class="navbar">
        <a class= "nav_button" href={{url_for('index')}}>Overview</a>
        <a class= "nav_button" href={{url_for('sound_artist')}}>Sound Artist</a>
        <a class= "nav_button" href={{url_for('contact')}}>Contact Form</a>
    </nav>
    <section class="image_wrap">
    <figure class="se_logo_wrap">
        <img class="se_logo" src="../static/images/html.png", alt="Software Engineering Logo">
    </figure>
    </section>  
    <section class="body">
        <p> Software engineering student at CODE University, currently looking for a working student position to complement my learning journey. 
        <br> <br> My learning objectives are in the direction of Front-End Development, Web Development, Responsive Design and Practical Algorithms. 
        </p>
        <h2><br>Tech stack</h2>
        <p>.html
        <br>.css
        <br>.py
        </p>
        <div class="projects_container">
          <h2>Projects</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque magna quis urna ultrices sodales. Donec rutrum nisl ac venenatis tempus. Donec molestie bibendum mauris, id luctus lacus consequat sit amet. Morbi facilisis luctus sem, et luctus est consectetur egestas. Nulla sed porttitor leo. Duis blandit odio vel arcu vehicula rutrum. Proin vitae leo a dui venenatis volutpat non at velit. Sed pulvinar elit eget dapibus dictum.
          </p>
    </section>
    <section class="links_wrap">
      </div>
        <div class="out_links">
          <a class="out_button" href={{url_for('cv')}}>CV</a>
          <a class="out_button" onclick=" window.open('https://github.com/marcleerink','_blank')"><i class="fa-brands fa-github"></i> </a>
          <a class="out_button" onclick=" window.open('https://www.linkedin.com/in/marc-leerink-82b83b121/','_blank')" ><i class="fa-brands fa-linkedin"></i></a>
        </div>  
        <div class="links">
          <a class= "button2" href="#"> Projects</a>
          <a class= "button2" href={{url_for('index')}}>Overview</a>
        </div>
    </section>
      </div>
    
{% endblock %}