{% extends 'base.html' %}

{% block title %}Marc Leerink - To Do{% endblock %}

{% block body %}
<section class="header">
    <h1>Marc Leerink</h1>
    <h2>Software Engineer • Sound Artist</h2>
  </section>
  <nav class="navbar">
    <a class= "button" href={{url_for('index')}}>Overview</a>
    <a class= "button" href={{url_for('software_engineer')}}>Software Engineer</a>
    <a class= "button" href={{url_for('sound_artist')}}>Sound Artist</a>
    <a class= "button" href="#">Contact Form</a>
  </nav>
  <div class="container">
  <div class="wrap">
    <img class="image" src="static/images/cvphoto-edit.png" alt="Portrait Photo">
  </div> 
  <section class="body">
    <h2><br> To Do List</h2>
    <p>
        {% for slug, todo in todo.items() %}
            <li>
                {% if todo['priority'] == 'High'%}
                    <a class ="red" href="/{{todo['url']}}">{{ todo['page'] }}</a>
                {% else %}
                    <a href="/{{todo['url']}}">{{ todo['page'] }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </p>
    
    <div class="links">
        <a class= "button" href={{url_for('index')}}>Overview</a>
    </div>
  </section>
  </div>
  {% endblock %}