{% extends 'base.html' %}

{% block title %}Contact - Marc Leerink {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/form.css">{% endblock %}

{% block body %}
<section class="header">
    <h1>Marc Leerink</h1>
    <h2>Software Engineer • Sound Artist</h2>
  </section>
  <nav class="navbar">
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('simple_pages.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('simple_pages.sound_artist')}}>Sound Artist</a>
  </nav>

<section class="body form_wrap">
    <form class="form" method="POST">
        <ul>
            <li>
                <label for="name">Name:</label>
                <input type="text" name="name" id="name">
            </li>
            <li>
                <label for="email">E-mail:</label>
                <input type="email" id="email" name="email">
            </li>
            <li>
                <label for="subject">Subject:</label>
                <input type="subject" id="subject" name="Subject">
            </li>
            <li>
                <label for="message">Message:</label>
                <textarea id="message" name="message"></textarea>
            </li>
            <li class="button3">
                <button type="submit">Send</button>
            </li>
        </ul>
    </form>
</section>  
    <div class="links">
        <a class= "button2" href={{url_for('simple_pages.index')}}>Overview</a>
    </div>
  {% endblock %}