{% extends 'base.html' %}

{% block title %}Contact - Marc Leerink {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/form.css">{% endblock %}
{% block navbar %}
<nav class="navbar" id="navbar">
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('simple_pages.sound_artist')}}>Sound</a>
    {% if current_user.is_authenticated %}
    <a class= "nav_button" href={{ url_for('messages.profile') }}>My Account</a>
    <a class= "nav_button" href={{ url_for('messages.logout') }}>Log Out</a>
    {% endif %}
</nav>
{% endblock %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
      <li class="flash">{{ message }}</li>
    {% endfor %}
  {% endif %}
{% endwith %}
{% block body %}
<section class="body form_wrap">
    <form action="/contact" class="form" method="post" autocomplete="on">
        <ul>
            <h2> Hi there, {{ name }}</h2>
            <li><br>Please write me a message and I will get back to you</li>
            <li>Your Email: {{ email }}</li>
            
            <li>
                <input list="subjects" type="text"name="subject" id="subject" placeholder="Subject" value="{{
                    request.form.subject }}" required autofocus>
                <datalist id="subjects">
                    <option value="General">
                    <option value="Software Engineer">
                    <option value="Sound">
                  </datalist>
            </li>
            <li>
                <textarea class=textarea id="message" name="message" placeholder="Message" value="{{
                    request.form.message }}" required>
                </textarea>
            </li>
            <li >
                <button class="button3" type="submit">Send</button>
            </li>
        </ul>
    </form>
</section>  
<section class="links">
    {% if current_user.is_authenticated %}
    <a class= "button2" href={{ url_for('messages.profile') }}>My Account</a>
    <a class= "button2" id="hide" href={{ url_for('messages.logout') }}>Log Out</a>
    {% endif %}
    <a class= "button2" id="hide" href={{url_for('simple_pages.index')}}>Overview</a>
</section>
{% endblock %}