{% extends 'base.html' %}

{% block title %}Log In - Marc Leerink {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/form.css">{% endblock %}

{% block body %}
<section class="header">
    <h1>Marc Leerink</h1>
    <h2>Software Engineer • Sound Artist</h2>
  </section>
  <nav class="navbar">
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('messages.get_signup')}}>Sign Up</a>
  </nav>

<section class="body form_wrap">
    <form action="/log-in" class="form" method="post" autocomplete="on">
        <ul>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                  <li class="button3">{{ message }} No account yet?<br><br>
                    <a href="{{ url_for('messages.get_signup') }}">Sign Up</a></li>
        
                {% endfor %}
              {% endif %}
            {% endwith %}
            <li>
                <input type="email" id="email" name="email" placeholder='E-Mail' value="{{
                    request.form.username }}" required>
            </li>
            <li>
                <input type="password" id="password" name="password" placeholder='Password' value="{{
                    request.form.password }}" required >
            </li>
            <li>
                <input type="checkbox" name="remember"> Remember me
            </li>
            <li class="button3">
                <button type="submit">Log In</button>
            </li>
        </ul>
   
    </form>
</section>  
    <div class="links">
        <a class= "button2" href={{url_for('messages.get_signup')}}>Sign Up</a>
        <a class= "button2" href={{url_for('simple_pages.index')}}>Overview</a>
    </div>
  {% endblock %}