{% extends 'base.html' %}

{% block title %}{{ name }} - My Account {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/form.css">{% endblock %}
{% block navbar %}
<nav class="navbar" id="navbar">
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('simple_pages.sound_artist')}}>Sound</a>
    {% if current_user.is_authenticated %}
    <a class= "nav_button" href={{ url_for('messages.get_contact') }}>Contact</a>
    <a class= "nav_button" href={{ url_for('messages.logout') }}>Log Out</a>
    {% endif %}
</nav>
{% endblock %}
{% block body %}
<section class="body">
    <div>
        <ul class="message_contain">
            <h2> Hello {{ name }} </h2><br>
            <li> Email Address: {{ email }}</li><br>
            <li> Here is your messaging history: </li><br>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <ul>
                      <li class="flash">{{ message }} </li>
                </ul>
                {% endfor %}
              {% endif %}
            {% endwith %}
            {% for message in messages %}
            <div tabindex="0" class="message">
            <li> Sent at: {{ message.timestamp }}</li> 
            <li> Subject: {{ message.subject }}</li> 
            <li> Message: {{ message.message }}</li>
            <li><a class= "profile_button" href="{{ url_for('messages.delete_message', message_id=message.id) }}"><i class="fa-solid fa-trash-can"></i></a></li>
            </div>
            {% endfor %}
        </ul>
    </div>
</section>
<div class="profile_link">
    <a class= "button2 profile_button" href="{{ url_for('messages.delete_user', user_id=user.id) }}">Delete Account</a>
    <a class= "button2 profile_button" href={{url_for('messages.get_contact')}}>Contact</a>
</div>
<section class="links">
    {% if current_user.is_authenticated %}
    <a class= "button2" id="hide" href={{ url_for('messages.logout') }}>Log Out</a>
    {% endif %}
    <a class= "button2" id="hide" href={{url_for('simple_pages.index')}}>Overview</a>
</section>
{% endblock %}