{% extends 'base.html' %}

{% block title %}Sign Up - Marc Leerink {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="../static/css/form.css">{% endblock %}
{% block navbar %}
<nav class="navbar" id="navbar">
    <a class= "nav_button" href={{url_for('messages.get_login')}}>Log In</a>
    <a class= "nav_button" href={{url_for('simple_pages.index')}}>Overview</a>
    <a class= "nav_button" href={{url_for('software_engineer.software_engineer')}}>Software Engineer</a>
    <a class= "nav_button" href={{url_for('simple_pages.sound_artist')}}>Sound</a>
    {% if current_user.is_authenticated %}
    <a class= "nav_button" href={{url_for('messages.logout')}}>Log Out</a>
    {% endif %}
</nav>
{% endblock %}
{% block body %}
<section class="body form_wrap">
    <form action="/sign-up" class="form" method="post">
        <ul>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <li>{{ message }}<br><br>
                        <a class="button3" href="{{ url_for('messages.get_login') }}">Log in</a></li>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <li>
                <input type="name" id="name" name="name" placeholder='Name' value="{{
                    request.form.name }}" maxlength='120' required >
            </li>
            <li>
                <input type="email" id="email" name="email" placeholder='E-Mail' value="{{
                    request.form.email }}" maxlength='120'required>
            </li>
            <li>
                <input type="password" id="password" name="password" placeholder='Password' value="{{
                    request.form.password }}" minlenght='8' maxlength='120' required >
            </li>
            <li>
                <input type="password" id="confirm_password" name="confirm_password" placeholder='Confirm Password' value="{{
                    request.form.confirm_password }}" minlenght='8' maxlength='120' required >
            </li>
            <li>
                <button class="button3" id="no-shadow" type="submit">Sign Up</button>
            </li>
        </ul>
    </form>
</section>
    <div class="links">
        <a class= "button2" href={{url_for('messages.get_login')}}>Log In</a>
        <a class= "button2" href={{url_for('simple_pages.index')}}>Overview</a>
    </div>
  {% endblock %}