<!DOCTYPE html>
<html>
  <head>
    
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Porfolio Marc Leerink">
        <meta name="keywords" content="Software Engineer, Coding, HTML, CSS, Python, Sound Artist, DJ, Music Producer ">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/main.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon_io/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon_io/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon_io/favicon-16x16.png">
        <link rel="manifest" href="../static/favicon_io/site.webmanifest">
        {% block stylesheet %}{% endblock %}
    {% endblock %}    
  </head>
    <header class="head_nav_cont">
        <section class="header"> 
            <h1 class="header1"><a class="header1" href={{ url_for('simple_pages.index') }}> Marc Leerink</a></h1>
            <h2 class="header2"> Software Engineer • Sound</h2>
        </section>
        <button class="hamburger" id="hamburger">
            <i class="fa-solid fa-bars"></i>
        </button>
        {% block navbar %} {% endblock %}
    </header>
  <body>
    {% block body %}{% endblock %}
  </body>
  <footer class="footer">
      <a class="footer_link" href="mailto:maleerink@gmail.com"><i class="fa-solid fa-envelope"></i></a>
  </footer>
  <script src="../static/javascript/main.js"></script>
  {% block script %}{% endblock %}
</html>